.parent{
   
    display: block;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
    border:none;
    max-width: 1520px;
    width: 100%;
    height: auto;
    padding: 20px;
   


    @media (min-width:992px) {
        display: flex;
        width: 100%;
        height: auto;
        border:1px solid #e2e2e2;
        padding: 70px 100px 80px 80px;
        gap: 100px;
    }
 
 
 .features{
    display:block;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
   

    @media (min-width:992px) {
        justify-content: start;
        width: 460px;
        height: auto;
    }
   


    p{
        font-size: 20px;
        text-align: center;
        color: #f94D1C;

        @media (min-width:992px) {
           text-align: start;
        }

      
    }
    h2{
        padding-bottom: 20px;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;
        text-align: center;
        
       

        @media (min-width:992px) {
           text-align: start;
           max-width: 850px;
           width: 100%;
           height: auto;
           padding-right: 20px;
        }
       
    }
    a{
        display: flex;
        justify-content:center;
        align-items: center;
        margin: 0;
        padding: 12px 10px;
        width: 100%;

        i{ 
            margin-left: 10px;
            padding-top: 8px;
            font-size: 9px;
            font-weight: 600;
        }

        &:hover{
            background-color: #191919;
            color: #fff;
            box-shadow: 3px 3px 5px 5px #1919194c;
        }

    }
}

.boxes{
    display:grid;
    grid-template-columns:repeat(1fr);
    justify-content: center;
    // grid-template-rows: repeat(2 , 1fr)  ;

    @media (min-width:740px) {
        grid-template-columns:repeat(2 , 1fr);
    }


    .box{
        width: auto;
        padding: 20px;
        @media (min-width:992px) {
            width: 307px;
            height: 220px;
        }




        h3{
            font-size: 22px;
            font-family: 'DM sans' sans-serif;
            font-weight: 700;
            text-align: center;
            @media (min-width:992px) {
                text-align: left;
            }

        }
        p{
            font-size: 16px;
            font-family: 'Inter' sans-serif;
            font-weight:400; 
            text-align: center;
            @media (min-width:992px) {
                text-align: left;
            }
        }
        .box-image{
            display: flex;
            justify-content: center;

            @media (min-width:992px) {
                justify-content: start;
            }
        }
    }

   }
}   
